.general-main{
    margin: 20px 100px 20px 120px;
}

.skill-page{
    margin-top: 30px;
}
.skill-list{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 70px;
}
.skill-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .picture-skill{
        width:50px;
        height:50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px;
        border-radius: 100%;
    }
    img{
        width: 50px;
    }
}

@media (max-width: 480px) {
    .skill-list{
        flex-direction: column;
        gap: 30px;
    }
    .global-skill{
        flex-direction: column;
        gap: 30px;
    }
    .general-main{
        margin: 20px 50px 20px 65px;
    }
}